.sticky-cell {
  background: #fff;
  background-clip: padding-box;
  position: sticky;
  z-index: 2;
}

.col-8 .form-control {
  width: 10rem;
}

.flatpickr-input[readonly] {
  background-color: #fff;
}

.pdf-thumbnail {
  height: 8rem;
}

.img-thumbnail[src*=".svg"] {
  width: 50%;
}

.embed-responsive-a4::before {
  /* a4サイズの比率（w:h = 1:√2) */
  padding-top: 141.4213%;
}

.tablesorter-headerUnSorted {
  background-image: url("../img/arrow-down-up.svg");
  background-position: center right;
  background-repeat: no-repeat;
}

.tablesorter-headerAsc {
  background-image: url("../img/sort-alpha-down.svg");
  background-position: center right;
  background-repeat: no-repeat;
}

.tablesorter-headerDesc {
  background-image: url("../img/sort-alpha-down-alt.svg");
  background-position: center right;
  background-repeat: no-repeat;
}

h1 {
  color: coral;
}
